openapi: 3.1.0
info:
  title: Mon Ami REST Care Plans Sites API
  version: '1.0'
  description: 'The Mon Ami REST API provides programmatic access to the Mon Ami platform for aging and disability services: clients, care plans, services and rates, copays and funding sources, documents (including InterRAI iCodes), programs and enrollments, people and volunteers, provider referrals, tasks, visits, client calls, sites, and webhook subscriptions. Interoperability is a design standard (open REST API, HL7 FHIR R4, secure SFTP). Contact Mon Ami to obtain API credentials.'
  contact:
    name: Mon Ami
    url: https://docs.monami.io/
  termsOfService: https://www.monami.io/terms-of-use
servers:
- url: https://app.monami.io/api
  description: Production
security:
- basicAuth: []
tags:
- name: Sites
paths:
  /sites:
    get:
      operationId: listSites
      summary: List sites
      tags:
      - Sites
      responses:
        '200':
          $ref: '#/components/responses/CollectionResponse'
components:
  schemas:
    Resource:
      type: object
      description: A Mon Ami resource object. Field-level schema is not published; id is present on persisted resources.
      properties:
        id:
          type: string
      additionalProperties: true
    Collection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        links:
          type: object
          description: Pagination navigation URLs.
          additionalProperties: true
        meta:
          type: object
          description: Pagination metadata including total page counts.
          additionalProperties: true
  responses:
    CollectionResponse:
      description: A paginated collection.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Collection'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication using your API uid and secret (Authorization: Basic base64(uid:secret)). Contact Mon Ami to obtain credentials.'
